<script type="module" src="/scripts/analytics.ts"></script>
<div class="cookie-consent hidden" id="cookie-consent">
  <div class="cookie-consent-title">Informasjonskapsler</div>
  <div class="cookie-consent-text">
    Jeg bruker informasjonskapsler kun for å analysere trafikk på nettstedet.
    <br>
    <br>
    Dataen din vil <strong>aldri</strong> bli delt eller solgt med tredjeparter. Ingen personlig informasjon er lagret.
    <br>
    <br>
    <a href="/privacy-policy">Les personver</a>
  </div>
  <div class="cookie-consent-buttons">
    <button id="cookie-accept" class="cookie-consent-button">Aksepter</button>
    <button id="cookie-decline" class="cookie-consent-button">Avslå</button>
  </div>
</div>