<footer>
    <div class="container">
        <p>
            &copy; 2025 Groth Software Solutions. Bygget uten bedriftsbullshit.
            <br>
            <a
                href="https://github.com/gss-alexander/grothsoftwaresolutions-homepage-v2"
                class="source-link"
                >Kildekode</a
            >
            <a
                    href="/privacy-policy"
                    class="source-link"
            >Personvern</a
            >
        </p>
    </div>
</footer>
